@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1432px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1444px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.header a {
  color: #000;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header a:hover {
  color: #44c086;
}

.header .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 25px 0 30px;
}

.header .header__row .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__row .header__left .header__logo img {
  width: 250px;
}

.header .header__row .header__top {
  margin-bottom: 10px;
}

.header .header__row .header__top a {
  letter-spacing: 0.05em;
}

.header .header__row .header__bottom a {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu .header-menu-top ul > li {
  margin-right: 60px;
  line-height: 30px;
}

.header-menu .header-menu-top ul > li a {
  font-size: 14px;
}

.header-menu .header-menu-bottom ul > li {
  margin-right: 60px;
}

.header-right {
  text-align: right;
}

.header-phone {
  font-size: 22px !important;
}

.header-btn {
  border: #3ca876 2px solid;
  border-radius: 100px;
  display: inline-block;
  line-height: 26px;
}

.header-btn span {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  color: #3ca876;
  margin: 0 20px;
  font-weight: 500;
}

.header-btn:hover {
  background-color: #3ca876;
}

.header-btn:hover span {
  color: #fff;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../img/fullscreen.jpg") 50% 50%/cover no-repeat;
}

.fullscreen__body {
  background-color: #fff;
}
